/* If you're using other form elements like textarea or select, add them similarly */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/darkRas.jpg");
  background-size: cover;
  /* opacity: 0.5; Adjust the opacity here */
  z-index: -1;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 40px;
  padding-left: 20%;
  padding-right: 20%;
}

.auth-container {
  border: 1px solid rgb(229, 229, 229, 0.4);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 35px 55px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: fit-content;
  background-color: rgba(49, 49, 49, 0.082);
  backdrop-filter: blur(50px);
  border-radius: 2em;
  color: white;
  flex-wrap: wrap;
  width: 40vh;
  padding: 3rem;
}

.auth-container h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.form-group input {
  width: 29vh;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(225, 225, 225, 0.2);
  outline: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
  border-radius: 6px;
  padding: 15px 15px 15px 40px;
}

.form-group input::placeholder {
  color: rgba(255, 255, 255, 0.742);
  font-weight: 100 !important;
}
.auth-container button {
  width: 100%;
  height: 45px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar:has(.lnk:hover) .lnk:not(.lnk:hover) {
  opacity: 0.2;
  transition: 0.3s;
}
.lnk:hover {
  transition: 0.3s;
  transform: scale(1.1);
  color: rgba(255, 0, 0, 0.697);
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  font-weight: 200;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.nav-container {
  min-width: 100vw;
}

.navbar {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: 200;
}
.navbar .lnk {
  display: flex;
  margin: 1em 1em 1em 1em;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: rgb(138, 137, 137);
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  margin-left: 8rem;
}
.navbar a:hover {
  cursor: pointer;
}

.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}
.create-recipe form {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}
.auth-container h2 {
  font-weight: 200;
}
h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

img {
  width: 400px;
}

p {
  max-width: 400px;
  font-size: 12px;
}

/* CSS */
.button-49 {
  appearance: none;
  background-color: transparent;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-49:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ebebeb2c;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-49:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-49:after {
  background-color: #ffffff;
}

.button-49 span {
  z-index: 1;
  position: relative;
}
.create-recipe {
  border: 1px solid rgb(229, 229, 229, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 35px 55px;
  background-color: rgba(49, 49, 49, 0.082);
  backdrop-filter: blur(50px);
  border-radius: 2em;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Centering in the parent element */
  width: fit-content;
}

.create-recipe h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.create-recipe input[type="text"],
.create-recipe input[type="number"],
.create-recipe textarea {
  width: 29vh; /* Adjust width as needed */
  background-color: transparent;
  border: 2px solid rgba(225, 225, 225, 0.2);
  outline: none;
  font-size: 18px;
  color: white;
  border-radius: 6px;
  padding: 15px 15px 15px 40px;
  margin-bottom: 20px; /* Space between form fields */
}

.create-recipe input::placeholder,
.create-recipe textarea::placeholder {
  color: rgba(255, 255, 255, 0.742);
}

.create-recipe button {
  width: 100%;
  height: 45px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid rgba(225, 225, 225, 0.2);
  border-radius: 6px;
  cursor: pointer;
}

.create-recipe label {
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.home-container {
  border: 1px solid rgb(229, 229, 229, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 35px 55px;
  background-color: rgba(49, 49, 49, 0.082);
  backdrop-filter: blur(50px);
  border-radius: 2em;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 27%;
}

.home-container h1 {
  font-size: 48px; /* Larger than h2 for hierarchy */
  text-align: center;
  margin-bottom: 20px;
}

.home-elements {
  list-style: none;
  padding: 0;
  width: 100%; /* Adjust as needed */
}

.single-element {
  background-color: rgba(255, 255, 255, 0.1); /* Slightly more opaque for readability */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.single-element h2 {
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
}

.single-element button {
  background-color: transparent;
  border: 2px solid rgba(225, 225, 225, 0.2);
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

.single-element .ingredient-list,
.single-element .instructions {
  margin-bottom: 15px;
}

.single-element .ingredient-list ul {
  padding: 0;
  list-style: none;
}

.single-element .ingredient-list li {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.single-element img {
  box-sizing: border-box;
  width: 100%; /* Full width of the container */
  height: 400px; /* Fixed height */
  object-fit: fill; /* This will cover the area without distorting the aspect ratio */
  border-radius: 12px;
  margin-top: 10px;
}

.single-element p {
  color: white;
  margin-bottom: 10px;
}

@media (max-width: 1320px) {
  .auth {
    flex-direction: column;
    gap: 3em;
    width: 100vh;
  }
  .auth-container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1320px) {
  .navbar {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
}

@media (max-width: 1000px) {
  .navbar {
    width: 100vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
  }
  .auth {
    margin: 0 10%;
  }
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100;
    height: 100vh;
    background-size: cover;
    /* opacity: 0.5; Adjust the opacity here */
    z-index: -1;
  }
}
@media (max-width: 1000px) {
  .navbar {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .auth {
    /* Adjust layout for mobile */
    flex-direction: column;
    padding: 0;
    gap: 20px;
  }

  .auth-container {
    /* Adjust width and padding for smaller screens */
    width: 90%;
    padding: 2rem;
  }

  .form-group input {
    /* Adjust input width for mobile */
    width: 100%;
  }

  .navbar {
    /* Adjust navbar layout for mobile */
    flex-direction: column;
    height: auto;
    padding: 0.5rem 0;
  }

  .navbar .lnk {
    /* Adjust navbar links for easier touch navigation */
    margin: 0.5rem;
    font-size: larger;
  }

  .create-recipe {
    /* Adjust recipe creation form width */
    width: 90%;
  }
}
